.post{
        margin: 10px;
        border: 1px solid;
        border-radius: 10px;
    }
    .post > div:not(.footer){
        padding: 12px;
    }
    .head a{
        text-decoration:None;
        color: black;
    }
    .body{
        border: 1px solid;
        border-left:0;
        border-right:0;
        margin-top:5px;
        margin-bottom:7px;
    }
    .footer{
        padding:12px;
    }
    .footer > span:not(.correct){
        border: 1px solid;
        border-radius: 100px;
        padding: 7px;
        margin:2px;
    }
    .correct{
        border: 1px solid;
        border-radius: 5px;
        padding: 5px;
        margin-left: 86%;
    }